# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
media/

# Virtual environments
venv/
.env/

# Static files (collected)
staticfiles/

# OS files
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
